body {

    background-image: url('./images/forest.png');
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px
}


h1 {
    font-family: 'Fruktur', cursive;
    font-size: 100px;
    text-align: center;
    height: 300px;
    margin: 80px
   
}

h2 {
    font-family: 'Fruktur', cursive;
    font-size: 80px;
    text-align: center;
    height: 50px;
}

ul {
    font-family: 'Fruktur', cursive;
    font-size: 50px;
    text-align: center;
    height: 200px
}

.button{
    font-family: 'Fruktur', cursive;
    font-size: 60px;
    text-align: center;
    display: flex;
    margin: auto;
    display: grid;
    background-color: #C4EBF5;
        
}

.btn-restart{
    font-family: 'Fruktur', cursive;
    font-size: 80px;
    text-align: center;
    display: flex;
    display: grid;
    margin: auto;
    background-color: #C4EBF5;
   
}


   

  
   

